desktop.ini
*.pem
node_modules/
.build/
dist/
background.js
extension-storage-watch.js
extension-storage.js
extensions.js
guide.js
history.js
i18n.js
legacy-crypto.js
options.js
popup-fixes.js
popup-i18n.js
popup.js
runtime.js
sync-core.js
theme.js
update.js
